/* Nuestros estilos de prueba */

#text{
    color: blue;
    font-family: cursive;
    font-style: italic;
    font-size: large;
}
#bienvenida{
    background-color: crimson;
}
a:link, a:visited {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}
a:link:active, a:visited:active {
    color: (internal value);
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #d4c31d;
    background-color: #4299d4;
    color: black;
    margin: 10px 0;
    display: inline-block;
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.3);
    letter-spacing: 3px;
    color: white;
}
.info{
    background-color: #141419;
    color: white;
    padding: 20px;

}
.info h3{
    font-size: 40px;
    margin 0;
    text-align: center;
    text-transform: uppercase;
}